:root {
    --header-height: 80px;
    --header-width: 100%;
    --header-color: rgb(64, 64, 248);
    --header-logo-height: 60px;
    --header-logo-width: 60px;
    --header-brandname-font-size: 25px;
    --header-brandname-font-family: "Courier New", Courier, monospace;
    --header-brandname-color: white;
    --header-navmenu-text-color: white;
    --header-navmenu-text-color-hover: #ffffff50;
    --header-navmenu-font-size: 20px;
}
header {
    height: var(--header-height);
    width: var(--header-width);
    background-color: var(--header-color);
    display: flex;

    // logo
    .logo {
        height: var(--header-logo-height);
        width: var(--header-logo-width);
        background-color: transparent;
        overflow: hidden;
        margin-left: 20px;
        padding: 10px;

        img {
            height: inherit;
            width: inherit;
        }
    }

    .brand-name {
        font-size: var(--header-brandname-font-size);
        font-family: var(--header-brandname-font-family);
        color: var(--header-brandname-color);
        font-weight: bolder;
        padding: 20px;
        margin-top: 5px;
    }

    .navmenu-hamburger{
        display: none;
        height: 50px;
        width: 60px;
        overflow: none;
        border: 2px solid white;
        border-radius: 8px;
        // display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .barline{
            height: 3px;
            width: 70%;
            background-color: white;
            margin-bottom: 10px;
            &:last-child{
                margin: 0;
            }
        }
    }

    nav {
        height: 100%;
        width: max-content;
        margin-left: auto;
        order: 2;
        margin-right: 30px;

        display: flex;
        align-items: center;
        justify-content: center;

        ul {
            height: inherit;
            width: max-content;
            margin-right: 20px;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                margin-left: 15px;
                &:first-child {
                    margin: 0;
                }
                a {
                    color: var(--header-navmenu-text-color);
                    font-size: var(--header-navmenu-font-size);
                    text-decoration: none;
                    transition: 1s ease;
                    &:hover {
                        color: var(--header-navmenu-text-color-hover);
                        transition: color 500ms linear;
                    }
                }
            }
        }

        .special-button {
            height: fit-content;
            width: max-content;
            padding: 2px;
            button {
                font-weight: bolder;

                color: #fff;
                background-color: transparent;
                border-color: white;

                &:hover {
                    background-color: white;
                    color: var(--header-color);
                }
            }
        }
    }
}

button {
    all: unset;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
}

.active-menu {
    color: var(--header-navmenu-text-color-hover);
}

.animated-bar_45{
    animation: bar_45 1s;
    animation-fill-mode: forwards;
}

.animated-bar_-45{
    animation: bar_-45 1s;
    animation-fill-mode: forwards;
}

@keyframes bar_45 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(45deg);
    }
}

@keyframes bar_-45 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-45deg);
    }
}

@media only screen and (max-width: 800px) {
    header {
        height: auto;
        padding-bottom: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .logo{
            margin: 0;
        }
        .navmenu-hamburger{
            display: flex;
        }
        nav {
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            order: 0;
            ul {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                li{
                    margin: 0;
                    margin-top: 15px;
                }
            }
        }
        .special-button{
            margin: auto;
        }
    }
}
